*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div nome del cesium */
#cesiumContainer {
    height: 100vh;
}

/* Nascondi la barra inferiore (che contiene la posizione, timer e progress) */
.cesium-viewer-bottom {
    display: none !important;
}

/* Nascondi la bussola */
.cesium-viewer-toolbar .cesium-viewer-compass {
    display: none !important;
}